<div id="dashboard">
    <!-- Main Dashboard content starts here!-->
    <div class="content">
        <div class="container slide-in-elliptic-top-fwd">
            <div class="row">
                <div class="five columns centertext">
                    <h1 class="heading1">Dashboard</h1>
                    <button class="sp-btn" onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=478616471640080395&permissions=8&scope=bot')">
                        Invite Me!</button>
                </div>
                <iframe style="display: none" name="dummyframe" id="dummyframe"></iframe>
                <div class="seven columns" style="text-align: left;">
                    <p style="padding-top: 32px;">
                        Welcome <b>{{username}}</b> to the Dashboard! Here you can easily configure ZoraBOT for your
                        server, as well as view helpful statistics! <br><b>The servers shown below are only ones that
                            you are the owner of.</b><br>
                        <hr>
                        <h3>Dashboard:</h3>
                        <form action="/api/discord/setServer?token={{token}}" method="POST" target="dummyframe">
                            <input type="hidden" name="serverids" value="{{ serverids }}" />
                            <p>Server:</p> <select name="serverid" class="serverSelect">
                                {{#each servers}}
                                <option class="Serveritem" value="{{this.id}}">{{this.name}} - {{this.id}}</option>
                                {{/each}}
                            </select>
                            <br><br>
                            <p>Prefix:</p> <input class="serverSelect" placeholder="ie. +" type="text" name="prefix"><br><br>
                            <p>Modlog Channel:</p> <input class="serverSelect" placeholder="ie. general" type="text"
                                name="modlog"><br><br>
                            <input type="submit" class="sp-btn" value="Save">
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>